# 忽略编译器配置和缓存文件
.cache
.xmake
.xmake_globalroot
.vscode
.xmake_cache
.codex
compile_commands.json
build
论文
tools

# macOS的💩
.DS_Store

# 开源库部分
third_party/cJSON
third_party/spdlog

# protoc自动生成的代码
*.pb.*

*.a
*.so
*.o
*.out
